# Node modules
node_modules/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env
.env.local
.env.*.local

# OS-specific
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/

# Build output
dist/
build/

# Coverage reports
coverage/

# Optional: database dumps or temp files
*.sql
*.sqlite
*.bak
*.tmp

serviceAccountKey.json
# Firebase Service Account
sistema-tickets-api/sistema-tickets-34b1c-firebase-adminsdk-fbsvc-9b46c33d2c.json

# Firebase Service Accounts
*-firebase-adminsdk-*.json